.common-home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #5083be;
  z-index: 100; /* Set a higher z-index to ensure it's above other content */
}

.animated-text {
  overflow: hidden;
  color: #4787e7;
  font-size: 50px
}

.animated-text span {
  display: inline-block;
  white-space: nowrap;
  animation: moveText 20s linear infinite; /* Adjust the duration as needed */
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
