/* StudentTable.css */

.student-table-container {
    margin: 20px;
  }
  
  .student-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .student-table th, .student-table td {
    border: 1px solid #222222;
    padding: 8px;
    text-align: left;
  }
  
  .student-table th {
    background-color: #a2c9c9;
  }
  
  /* Add this CSS to your component's styles or create a separate CSS file */

div {
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

h2 {
  color: #4e4750;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #202020;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #a2c9c9;
}

tr:hover {
  background-color: #c0bebe;
}
